<section class="account-container">
  <h1 class="flash-title"><%= title %></h1>

  <% /* Flash message (si existe en tu proyecto) */ %>
  <div>
    <% if (typeof messages === "function") { %>
      <%- messages() %>
    <% } %>
  </div>

<% if (errors) { %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>


  <div class="form-card">
    <h2 class="form-title"><%= title %></h2>

    <form class="account-form" id="loginForm" action="/account/login" method="post">
      <label for="account_email">Email</label>
      <input
        type="email"
        id="account_email"
        name="account_email"
        placeholder="byui@example.com"
        required
        value="<%= locals.account_email || '' %>"
      />

      <label for="account_password">Password</label>
      <input
        type="password"
        id="account_password"
        name="account_password"
        placeholder="••••••••"
        required/>

      <button type="submit" class="btn-primary">Sign In</button>
    </form>

    <p class="form-footer">
      No account?
      <a href="/account/register">Sign-up</a>
    </p>
  </div>
</section>