<div class="add-inventory-form">
  <h1><%= title %></h1>

  <%- messages() %>

  <p><strong>Confirm Deletion:</strong> This delete is permanent and cannot be undone.</p>

  <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/inv/delete" method="post">

    <label for="inv_make">Make</label>
    <input type="text" id="inv_make" name="inv_make" readonly
      value="<%= locals.inv_make || '' %>">

    <label for="inv_model">Model</label>
    <input type="text" id="inv_model" name="inv_model" readonly
      value="<%= locals.inv_model || '' %>">

    <label for="inv_year">Year</label>
    <input type="number" id="inv_year" name="inv_year" readonly
      value="<%= locals.inv_year || '' %>">

    <label for="inv_price">Price</label>
    <input type="number" id="inv_price" name="inv_price" readonly
      value="<%= locals.inv_price || '' %>">

    <button type="submit">Delete Vehicle</button>

    <input type="hidden" name="inv_id"
      <% if (locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %>>
  </form>
</div>