<div class="management-page">
  <h1><%= title %></h1>
  <%- messages() %>

  <% if (!sent || sent.length === 0) { %>
    <p class="mgmt-subtitle">No sent messages yet.</p>
  <% } else { %>
    <table id="inventoryDisplay">
      <thead>
        <tr>
          <th>To</th>
          <th>Subject</th>
          <th>Date</th>
          <th>Read?</th>
        </tr>
      </thead>
      <tbody>
        <% sent.forEach(m => { %>
          <tr>
            <td><%= m.account_firstname %> <%= m.account_lastname %></td>
            <td><a href="/message/view/<%= m.message_id %>"><%= m.message_subject %></a></td>
            <td><%= new Date(m.message_created).toLocaleString() %></td>
            <td><%= m.message_read ? "Yes" : "No" %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
</div>